@import '../variables/breakpoints';
@import '../variables/colors';

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  color: $default-font-color;
  font-size: 1rem;
  height: 100vh;
}

mark {
  background-color: transparent;
}

p {
  margin: 10px 0px;
}

.container {
  max-width: $breakpoint-large;
  width: 100%;
  padding: 10px;
  margin: 0 auto;
}

.error-text {
  color: $error-color;
  font-weight: bold;
}

h1.text {
  text-align: center;
  background-color: $ruv-blue;
  margin-top: 0;
  margin-bottom: 0;
  color: white;
  padding: 10px 0;
}

.row {
  padding: 1rem 0.5rem 1rem 0.5rem;
  margin: 0px auto 2px auto;
  max-width: 770px;
  width: 100%;

  &.large {
    max-width: 970px;
  }

  @media screen and (min-width: $breakpoint-small) {
    padding: 1rem 1.5rem;
  }

}

.secured {
  position: relative;
  color: $ruv-green-6;
  font-size: 0.75rem;
  font-family: Verdana, sans-serif;
  text-align: right;
  line-height: 1.3rem;
  padding-right: 15px;

  &::after {
    content: '\e044';
    color: $ruv-green-6;
    font-family: ruv-iconfont, serif;
    font-size: 1.3rem;
    padding-left: 5px;
    position: absolute;
  }
}
