@import '../../../styles/variables/colors';
@import '../../../styles/variables/breakpoints';

form {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  min-width: 300px;
}

select.form {
  background-color: white;
}

.container-product {
  width: 95%;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
}

.product-pic {
  display: none;
}

.product-text {
  width: 100%;
  padding: 20px;
  background-color: $el-blue;

  h2 {
    color: $el-orange-light;
  }

  p {
    color: white;
    margin-top: 20px;
  }
}

.container-input {
  width: 95%;
  padding: 20px;
}

:host ::ng-deep .label-input-container {
  padding: 10px 0;
}

.del-button {
  float: right;
  cursor: pointer;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid red;
  color: red;
  font-family: MarselisPro-Bold, Verdana, Arial, sans-serif;
  text-align: center;
  padding-top: 1px;
  line-height: 19px;
}

@media screen and (min-width: $breakpoint-medium) {

  .product-pic {
    background-image: url("../../../assets/images/mainPic.jpg");
    background-size: cover;
    width: 50%;
    height: 300px;
    display: block;
  }

  .product-text {
    width: 50%;
    padding: 35px;
  }

  .container-input {
    width: 100%;
    min-width: 640px;
    margin-top: -80px;
    background-color: $el-sand;
  }

  .input-container {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
  }


  .detail-field {
      flex: 15em;
  }


  :host ::ng-deep .label-input-container {
    margin: 0;
    min-width: 200px;
  }

  app-label-input-container {
    flex: 1;
  }

  button {
    margin-top: 38px;
    align-self: flex-start;
    flex-shrink: 0;
  }
}
