<form [formGroup]="tarifierungForm" (keydown.enter)="onEnter()" >
  <p>{{ tarifierungForm.value | json }}</p>

  <div class="container-product">
    <div class="product-pic"></div>
    <div class="product-text">
      <h2 [innerHTML]="label.product.productHeader"></h2>
      <p [innerHTML]="label.product.productDescription"></p>
    </div>
  </div>

  <div formArrayName="credentials">

    <div class="container-input">
      <h3 [innerHTML]="label.inputHeader"></h3>
      <div *ngFor="let unit of credentials.controls; let i=index; let last=last; let first=first;">
        <div [formGroupName]="i">
          <div *ngIf="!first" class="del-button" (click)="deleteCredentials(i)">X</div>
          <div class="input-container">
            <app-label-input-container [errorText]="label.bereich.errors.default"
                                       [infoText]="label.bereich.info"
                                       [labelText]="label.bereich.label"
                                       [showError]="getBerLandAtIndex(i).touched && getBerLandAtIndex(i).invalid"
                                       class="infotext-top">
              <select class="form" formControlName="berLand" id="zalungsperiode_{{i}}" (change)="changeBereich($event)">
                <option value="" disabled style="display: none;">Bitte auswählen</option>
                <option *ngFor="let region of regions | keyvalue" [value]="region.value">{{region.value}}</option>
              </select>
            </app-label-input-container>
            <app-label-input-container *ngIf="tarifierungForm" [errorText]="label.paket.errors.default"
                                       [infoText]="label.paket.info"
                                       [labelText]="label.paket.label"
                                       [showError]="getPaketAtIndex(i).touched && getPaketAtIndex(i).invalid"
                                       class="infotext-top"
                                       style="flex-grow: 2">
              <select formControlName="paket" class="form" placeholder="State" (change)="changePaket($event, i)" id="paketen_{{i}}">
                <option value="">Bitte ein Paket auswählen</option>
                <option *ngFor="let pak of paketen" [value]="pak.name">{{pak.name}}</option>
              </select>
            </app-label-input-container>
          </div>

          <div class="input-container">
            <app-label-input-container *ngIf="tarifierungForm" [errorText]="label.paketAnzahl.errors.default"
                                       [infoText]="label.paketAnzahl.info"
                                       [labelText]="label.paketAnzahl.label"
                                       [showError]="getPaketAnzahlAtIndex(i).touched && getPaketAnzahlAtIndex(i).invalid"
                                       class="infotext-top"
                                       style="flex-grow: 2">
              <select formControlName="paketAnzahl" class="form" (change)="changeAnzahl($event, i)" id="anzahlen_{{ i }}">
                <option value="" disabled style="display: none;">Bitte Anzahl auswählen</option>
                <option *ngFor="let anz of anzahlen" [value]="anz">{{anz}}</option>
              </select>
            </app-label-input-container>
            <app-label-input-container [infoText]="label.gebuehr.info"
                                       [labelText]="label.gebuehr.label"
                                       class="infotext-top">
               <div style="float: right; font-size: 30px; margin: 20px 0">
                 <label>{{ credentials.at(i).get('unitPrice')?.value | currency: 'EUR' }}</label>
                </div>
              </app-label-input-container>
            </div>

            <hr *ngIf="!last"> 
          </div>
        </div>
            <div class="input-container" style="border-top: #3e3e42 solid 2px">
              <app-label-input-container>
              
              <div style="align-self: flex-end">
                <div class="input-container" >
                <div style="padding-right: 2em">zzgl. Umsatzsteuer (16%):  </div>
                <div>{{ steuer | currency: 'EUR' }}</div>
                </div>
              <div class="input-container">
                <div><h3>Gesamtpreis: </h3></div>
                <div><h3>  {{ totalSum | currency: 'EUR' }}</h3></div>
              </div>
              </div>
            </app-label-input-container>
            </div>

        
         <div class="input-container">
          <!--<button [innerText]="label.weiterePakete" class="ruv-button"
          (click)="addCreds()"></button>-->
          <button [innerText]="label.berechnenButton" class="primary ruv-button" type="submit"
          (click)="onBerechnenClick()"></button>
        </div>
    </div>
  </div>
</form>


