<h1 class="titel">{{text.headline}}</h1>
<h1 class="titel">{{berLand}}</h1>
<form [formGroup]="agbFrom" >
   <app-zusatzleistung>
        <h3>Auswahl Übersicht</h3>
        <div class="container-zusatzleistung">
          <div *ngFor="let item of tarife | keyvalue" class="container-mitte">
             <div *ngFor="let i of item.value | keyvalue" class="container-mitte">
                <div><h4>Bereich {{ i.value.berLand | json }}</h4></div>
                <div><h4>Paket {{ i.value.paket | json}}</h4></div>
                <div><h4>Anzahl {{ i.value.paketAnzahl | json }}</h4></div>
                <div><h4>Gebühren {{  i.value.unitPrice | currency: 'EUR' : 'code' }}</h4></div>
            </div>
          </div>
            <div >
              <app-checkbox formControlName="agb" [label]="'Ja, ich stimme den Allgemeinen Geschäftsbedingungen zu.'" required (click)="agbCeck = true"></app-checkbox>
              <p [hidden]="agbCeck" style="color: red">Bitte akzeptieren Sie die AGB.</p>
            </div>
        </div>
        <div class="dark-blue-container row large">
      <div class="price-box">
        
        <div style="align-self: flex-end">
              <div class="tarifname">
                <span>zzgl. Umsatzsteuer (16%):  </span>
              </div>
            </div>
    <div style="align-self: flex-end">
         <div class="container-price">
                  <h3>Gesamtpreis: </h3>
          </div>
      </div>
      </div>
        <div class="button-row">
          <button type="button"  (click)="backToSelection()"  appOnBackTracking
                  class="ruv-button">{{sharedText.buttons.zurueck}}</button>
          <button id="weiter" (click)="onAbschliessen()" class="primary ruv-button"
                  >{{text.buttons.weiter}}
          </button>
        </div>
    </div>
      </app-zusatzleistung>
</form>



