<form (ngSubmit)="onAbschliessen()" autocomplete="off">

  <div id="basisdaten" class="box">
    <div class="row">
      <h2>Bestätigung Ihrer Bestellung</h2>
      <ul class="overview">
        <li>
          <span style="padding: 1em">
            In folgendem Dokument haben wir Ihren Auftrag noch einmal zusammengefasst.
          </span>
        </li>
        <li>
          <a style="padding-top: 3em" href="assets/bestell_bestaetigung.pdf"> Bestellübersicht</a>
         </li>
      </ul>
    </div>
  </div>

  <div class="box">
    <div class="row">
     
      <h2>{{uebsersichtText.vertragsdaten.headline}}</h2>

      <ul class="overview">
      </ul>
    </div>
  </div>

  <div class="box">
    <div class="row">
    
      <h2>{{uebsersichtText.zahlungsdaten.headline}}</h2>

      <ul class="overview">
        <li>
          <span>{{uebsersichtText.zahlungsdaten.methode}}</span>
        </li>
      </ul>
    </div>
  </div>

  <div class="box">
    <div class="row">
      <h2>{{uebsersichtText.plusAnLeistungen.headline}}</h2>
    </div>
  </div>

  <div class="box">
    <div class="row vertragsgrundlagen">
      <h2>{{uebsersichtText.vertragsgrundlagen.headline}}</h2>
      <p>{{uebsersichtText.vertragsgrundlagen.text1}}</p>
    </div>
  </div>

  <div class="box">
    <div class="row">
      <h2><label class="required">{{uebsersichtText.onlineAbschluss.headline}}</label></h2>
      <p>{{uebsersichtText.onlineAbschluss.text}}</p>
      <div class="container-checkbox">
      
      </div>
    </div>
  </div>

  <div class="box">
    <div class="row">
      <h2>{{uebsersichtText.einwilligungen.headline}}</h2>
      <p>{{uebsersichtText.einwilligungen.einleitung}}</p>
      <p [innerHTML]="uebsersichtText.einwilligungen.einwilligungruv"></p>
      <p [innerHTML]="uebsersichtText.einwilligungen.weitereEinwilligung"></p>
      <div class="container-checkbox">
       
      </div>
      <div class="widerrufBox">
        <p><strong>{{uebsersichtText.einwilligungen.wiederrufen}}</strong></p>
      </div>
    </div>
  </div>

  <div class="button-row">
  <!--   <button type="button" class="ruv-button" appOnBackTracking [routerLink]="[routes.absolute.zahlungsdaten]">Zurück</button>
   <button type="submit" class="primary ruv-button">{{uebsersichtText.buttons.abschliesen[asZahlart(zahlungsdaten.zahlart)]}}</button>-->
  </div>
  <div class="secured">{{sharedText.secured}}</div>
</form>
