// see https://ruv-markenportal.de/fundamentals/fundamentals/view/id/41
$ruv-blue: #001957;
$ruv-orange-light: #FFA500;
$ruv-sand: #FFF2DC;
$ruv-red-1: #E60000;
$ruv-mint: #00e6e6;
$ruv-ui-grey-1: #F5F5F5;
$ruv-ui-grey-2: #ECECEC;
$ruv-ui-grey-3: #CACACA;
$ruv-ui-grey-4: #7D7D7D;
$ruv-petrol: #1DA3B6;
$ruv-ui-green-2: #A7D54C;
$ruv-green-6: #3F7714;

$container-bg-color: $ruv-ui-grey-1;

$button-default-text-color: $ruv-blue;
$button-default-bg-color: white;
$button-default-border-color: $ruv-mint;
$button-default-hover-color: $ruv-petrol;

$button-primary-bg-color: $ruv-mint;

$error-color: $ruv-red-1;
$error-text-color: white;

$headline-text-color: white;
$inactive-text-color: $ruv-ui-grey-3;
$default-font-color: $ruv-blue;
