@import '../../../../styles/variables/colors';

.toggle {
  display: flex;
  max-width: 400px;

  input {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }

  label {
    display: block;
    width: 100%;
    text-align: center;
    border: 1px solid $ruv-ui-grey-3;
    padding: 10px;
    line-height: 30px;
    cursor: pointer;
    position: relative;

    &:hover {
      border-color: $ruv-blue;
      z-index: 1;
    }

    &.toggleLeft {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    &.toggleRight {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-left: -1px;
    }
  }

  input:checked + label {
    background-color: $ruv-blue;
    color: white;
  }

}


